<section class="spotify-sidebar-player" aria-labelledby="spotify-sidebar-title">
  <h2 id="spotify-sidebar-title" class="spotify-sidebar-player__title">
    Listen while you wander
  </h2>
  <iframe
    class="spotify-sidebar-player__embed"
    data-testid="embed-iframe"
    src="https://open.spotify.com/embed/playlist/4WbshwHrFtz7dYt6KncEGF?utm_source=generator&amp;theme=0&amp;si=ea8b8ede537c4f9f"
    title="Spotify playlist player"
    width="100%"
    height="352"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy">
  </iframe>
</section>
